*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #CCCCCC;
    width: 100vw;
    height: 100vh;
}

.blue{
    position: relative;
    width: 50vw;
    height: 90vh;
    background-color: #0023F5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.red{
    background-color: #EB3223;
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}

.black{
    background-color: #000000;
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}

.green{
    background-color: #377D22;
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}

.yellow{
    background-color: #FFFD54;
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}

